

.box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
    margin: auto auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.box h2 {
    margin: 0 0 30px 0;
    padding: 0;
    color: #000000;
    text-align: center;
    
}

.box .inputBox label {
    color: #5c5c5c;

}
.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box .inputBox input {
    background: transparent;
    border: none;
    /* border-bottom: 1px solid #000000; */
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px;
    outline: none;
    /* padding: 10px 0; */
    width: 200px;
}


.box input[type="submit"], .box button[type="submit"], a.button {
    font-family: sans-serif;
    background: var(--secondary);
    font-size: 11px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 20px;
    letter-spacing: 2px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2px 10px 2px 0;
    display: inline-block;
}

.box input[type="submit"]:hover, .box button[type="submit"]:hover, a.button:hover {
    opacity: 0.8;
}
#tsparticles {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}
.loginLink{
    text-decoration: none;
    color: var(--secondary);
}
.registerText{
    margin-top: 25px;
    font-size: 14px;
    color: #000000;
}