/* submissionpage.module.css */
.container {
    position: relative;
    border: 1px solid black;

    font-family: Arial;
    width: 100%;

    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
  }
  
  .myForm {
    position: relative;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;

  }
  
  .stepCounter {

    top: 100px;
    right: 35px;
    color: #F9F6D5;
    font-family: Futura Bk BT;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  
  .header {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .headerForm{
    margin: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 44px;
    background: linear-gradient(to right, #F9F6D5, #4863D8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .title {
    flex: 1;
    font-size: 24px;
    flex-direction: row;
    display: flex;

  }
  .titleText h1 {
    margin-left: 10px;
  
  }
  .separator {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin-bottom: 20px;
    

  }
  .buttonContainer {
    padding: 15px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; /* Menggunakan justify-content untuk menjaga tombol di ujung kiri dan kanan */
    align-items: center; /* Pusatkan tombol secara vertikal */
    width: 100%; /* Menyebarkan tombol ke seluruh lebar form */
    bottom: 0; /* Menempatkan tombol di bagian bawah form */
    left: 0; /* Menempatkan tombol di sisi kiri form */
  }
  
  .prevbutton {
    background-color: var(--secondary);
    color: #F9F6D5;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 120px;
  }
  
  .nextbutton {
    background-color: var(--secondary);
    color: #F9F6D5;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 120px;
  }
  
  .nextbutton:hover, .prevbutton:hover{
    background-color: #34465c;
    transition: 0.3s;
  }
  /* .nextbutton:checked, .prevbutton:checked{
    background-color: #34465c;
    transition: 0.3s;
  } */
  /* Add more styles as needed */
  