/* userform.module.css */
.container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .label {
    font-weight: 600;
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    background-color: transparent;
    transition: border-color 0.9s ;
  }

  
  .inputContainer {
    display: flex;
    flex-direction: row; /* Setengah dari lebar container */
    gap: 6rem;
  }
  .inputContainerFirst {
    display: flex;
    flex-direction: column;
    width: 50%; /* Setengah dari lebar container */
    gap: 0.5rem;

  }
  .inputContainerTwo {
    display: flex;
    flex-direction: column;
    width: 50%; /* Setengah dari lebar container */
    gap: 0.5rem;

  }
  .inputContainerThree {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

  }
  .inputContainerThree input {
    height: 100px;

  }
  /* Add more styles as needed */
  .radioButtons{
    padding-top: 10px;


    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .labelRadio:hover{
    cursor: pointer;
    color: #707aaa;
    transition: .25s ease;
  }
  .labelRadio{
    border-radius: 10px;
  }
  .inputContainerFour{
    display: flex;
    flex-direction: row; /* Setengah dari lebar container */
    gap: 6rem;
  }
  .inputLinkTwo{
    display: flex;
    flex-direction: column;
    width: 50%; /* Setengah dari lebar container */
    gap: 0.5rem;

  }
  .inputLink{
    display: flex;
    flex-direction: column;
    width: 50%; /* Setengah dari lebar container */
    gap: 0.5rem;

  }
  .input [type="radio"]:checked  {
    background: #ff0000;

  }

  
@media only screen and (max-width: 700px) {
    .inputContainer{
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }

    .inputContainerFirst{
      width: 100%;
    }

    .inputContainerTwo{
      width: 100%;
    }

    .inputContainerThree{
      width: 100%;
    }

    .inputContainerFour{
      flex-direction: column;
      width: 100%;
      gap: 2rem;
      margin-top: 2rem;
    }

    .inputLink{
      width: 100%;
      gap: 0.25rem;
    }

    .inputLinkTwo{
      width: 100%;
      gap: 0px;
    }
}