
.homepage{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin : 0;
    
  }

  .header{

    color: var(--tertiary);
    display: flex;
    width : 100%;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
  }

  .calling{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
  }