.container{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    z-index: 99;
}

.box{
    width: 600px;
    height: fit-content;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.line{
    width: 500px;
    height: 1px;
    background: var(--tertiary);
}

.header{
    height: max-content;
    background-color: var(--primary);
    color: var(--tertiary);
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    box-shadow: 10px;
}

.content{
    margin-top: 10px;
    height: max-content;
    background-color: var(--primary);
    color: #F9F6D5;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 10px;
    padding: 25px;
}

.rules{
    padding-left: 40px;
    text-indent: -22px;
}

.definition{
    padding-left: 15px;
    text-indent: 0px;
    margin-bottom: 5px;
}

.closeButton{
    float: right;
    margin-top: 10px;
    background: linear-gradient(to right, #4863D8 , #4863D8);
    border-radius: 10px;
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .header{
        font-size: x-large;
    }

    .content{
        font-size: medium;
        padding: 15px;
        text-align: justify;
    }

    .box{
        width: 90%;
    }

    .line{
        width: 90%;
    }

    .rules{
        padding-left: 0px;
        text-indent: 0px;

    }

    .definition{
        padding-left: 0px;
        text-indent: 0px;

    }

    .closeButton{
        margin-top: 5px;
    }



    
}