.footerContainer{
    background-color: var(--tertiary);
    color: #222536;/* Warna teks footer */
    padding: 1.2rem; /* Ruang bawah dan atas di dalam footer */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

.contentScomed{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 30px;
  align-items: center;
  justify-content: center;
  
}

.socmed{
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-weight: bold;
  color: #222536;
}
.address{
  font-size: 14px;
}
.title{
  font-size:16px;
  font-weight: bold;
  
}

@media screen and (max-width: 550px){
  .footerContainer{
    padding: 0.5rem;
  }
  .addressContainer{
    padding-right: 5px;
  }
  .title{
    font-size: 14px;
  }
  .address{
    font-size: 12px;
  }
  .titleSocmed{
    font-size: 14px;
  }
  .socialIcon{
    width: 20px;
    height: 20px;
  }
  .socmed{

    text-align: center;
  }
}