.navbar{
    display: flex;
    width : 100%;
    height: 120px;
    /* background-color: #222536; */
    color: var(--secondary);

}
.navbarContainer{
    padding: 15px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navPage{
    color: var(--tertiary);
    margin-left: 20px;
    margin-right: 20px;
}
.button{
    background: linear-gradient(to right, #F9F6D5 1%, #4863D8);
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
}
.button p{
    font-weight: bold;
}
.logo{
    height: 64px;
    width: 170px;
}
.contentNavbar{
    display: flex;
    align-items: center;

}
.boldLink{
    font: bold;
}