.navbar{
    display: flex;
    width: 100%;
    color: var(--secondary);
}
.navbarContainer{
    width: 100%;
    padding: 15px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger{
    display: none;
}

.dropdownWrapMobile{
    display: none;
}


.navPage{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
    white-space: nowrap;
}
.navPage:hover{
    color: var(--secondary);
    transition: 0.3s;
}
.buttonAuth{
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.buttonAuth p{
    font-weight: bold;
}
.buttonAuth:hover{
    background-color: var(--secondary);
    transition: 0.3s;
}
.logo{
    height: 64px;
    width: 170px;
}
.contentNavbar{
    display: flex;
    align-items: center;

}
.boldLink{
    font-weight: bold;
}

.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;

}
.avatarButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.dropdownWrap{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.dropdown {
    position: absolute;
    right: 20px;
    top: 100px;
    background: white;
    color: black;
    border-radius: 7px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    z-index: 2; 
    font-size: 16px;
    height: 35px;
    justify-content: center;

}

.dropdown button {
    background: white;
    border: none;
    background: transparent;
    
}
.dropdown:hover {
    background: var(--secondary);
    cursor: pointer;
    transition: 0.3s;
}
.dropdown {
    display: flex;
}

.dropdownVisible .dropdown {
    display: flex;
}

.activeLink {
    border-image: linear-gradient(to right, #F9F6D5, #4863D8);
    border-image-slice: 1;
    border-image-width: 0 0 1.5px 0; 

}

@media screen and (max-width: 700px) {
.navPage{
    display: none;
}
.authButton{
    display: none;
}
.logo{
    height: 60px;
    width: 150px;
}
.hamburger{
    display: block;
    cursor: pointer;
}

.dropdownWrapMobile {
    display: block;
    position: fixed;
    top: 100px; 
    right: 0; 
    background-color: black;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    z-index: 3; 
    width: 90%; 
    margin: 0 20px;
    align-items: center;
    justify-content: center;
}

.dropdownMobile {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navPageMobile {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.navPageMobile:hover {
    background-color: #f0f0f0; /* Ganti warna latar belakang hover sesuai kebutuhan */
}

.buttonSignout {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

}