.navbar{
    display: flex;
    width: 100%;
    /* height: 24vh; */
    color: var(--secondary);
}
.navbarContainer{
    width: 100%;
    padding: 15px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .logo {
        display: none;
    }
}

.navPage{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
    white-space: nowrap;
}
.navPage:hover{
    color: var(--secondary);
    transition: 0.3s;
}
.buttonAuth{
    /* background: linear-gradient(to right, #F9F6D5 1%, #4863D8);
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    width: 100px; */
    background-color: rgb(255, 255, 255);

    color: #000000;
    border-radius: 10px;
    /* border-image: linear-gradient(to right, #F9F6D5, #4863D8);
    border-image-slice: 1;
    border-image-width: 1.5px ; */
    border: none;
    padding: 10px;
    /* font-size: 16px;
    font-weight: 100; */
    cursor: pointer;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.buttonAuth p{
    font-weight: bold;
}
.buttonAuth:hover{
    background-color: var(--secondary);
    transition: 0.3s;
}
.logo{
    height: 64px;
    width: 170px;
}
.contentNavbar{
    display: flex;
    align-items: center;

}
.boldLink{
    font: bold;
}

.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;

}
.avatarButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.dropdownWrap{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.dropdown {
    position: absolute;
    right: 20px;
    top: 100px;
    background: white;
    color: black;
    border-radius: 7px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    z-index: 2; 
    font-size: 16px;
    height: 35px;
    justify-content: center;

}

.dropdown button {
    background: white;
    border: none;
    background: transparent;
    
}
.dropdown:hover {
    background: var(--secondary);
    cursor: pointer;
    transition: 0.3s;
}
.dropdown {
    display: flex;
}

/* Tampilkan dropdown jika dropdownVisible true */
.dropdownVisible .dropdown {
    display: flex;
}

.activeLink {
    /* Atur gradient linear sesuai keinginan Anda */
    border-image: linear-gradient(to right, #F9F6D5, #4863D8);
    border-image-slice: 1;
    border-image-width: 0 0 1.5px 0; /* Atur ketebalan border sesuai keinginan Anda */
}
  
  